body {
    background-color: rgb(255, 236, 180);
}
.logo-img {
    width: 50%;
}
.logo-1 {
    margin-top: 4%;
}
.logo-11 {
    margin-left: 25%;
}
.logo-2 {
    margin-top: 5.2%;
}
.logo-22 {
    margin-left: 20%;
}
.text-welcome {
    margin-top: 15%;
}